@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Big Shoulders", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2024/05/28/istock-1500141300-1iv4aeazj5her.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);

}

.container {
    margin: 0px 14px 0px 14px;
    width: 590px;
    height: 500px;
    background-color: blanchedalmond;
    border: none;
    border-radius: 32px;
    padding: 30px 40px;
    box-shadow: 5px 10px 18px;
    position: relative;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    font-size: 40px;
}

.caixa-email {
    border-color: #D3D3D3;
    border-radius: 12px;
    height: 42px;
    width: 500px;
    margin-top: 50px;

}

.caixa-senha {
    border-color: #D3D3D3;
    border-radius: 12px;
    height: 42px;
    width: 500px;
    margin-top: 50px;

}

.lembrar-senha {
    padding: 18px 0px;
    font-size: 23px;
}

input {
    outline: none;
}

input::placeholder {
    color: #A9A9A9;
    font-size: 18px;
    position: relative;
    left: 190px;
    top: 6px;
    letter-spacing: 2px;
}

button {
    font-family: "Libre Baskerville", serif;
    border: none;
    color: black;
    background: #A0522D;
    cursor: pointer;
    box-shadow: 2px 2px 3px;
    border-radius: 18px;
    height: 54px;
    width: 200px;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 150px;
    top: 28px;

}

.registro {
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    position: relative;
    top: 90px;
    left: 300px;

}

.cadastro {
    position: relative;
    top: 66px;
    left: 450px;
    font-size: 19px;
}